# Interview Challenge - Relax

The data is available as two attached CSV files: takehome_user_engagement.csv, takehome_users.csv

**1]** A user table ("takehome_users") with data on 12,000 users who signed up for the product in the last two years. 

This table includes:

name: the user's name

object_id: the user's id

email: email address

creation_source: how their account was created. This takes on one
of 5 values:
○ PERSONAL_PROJECTS: invited to join another user's personal workspace
○ GUEST_INVITE: invited to an organization as a guest (limited permissions)
○ ORG_INVITE: invited to an organization (as a full member)
○ SIGNUP: signed up via the website
○ SIGNUP_GOOGLE_AUTH: signed up using Google

Authentication (using a Google email account for their login
id)

creation_time: when they created their account

last_session_creation_time: unix timestamp of last login

opted_in_to_mailing_list: whether they have opted into receiving
marketing emails

enabled_for_marketing_drip: whether they are on the regular
marketing email drip

org_id: the organization (group of users) they belong to

invited_by_user_id: which user invited them to join (if applicable).

**2]** A usage summary table ("takehome_user_engagement") that has a row for each day that a user logged into the product.

**Goal**

Defining an "adopted user" as a user who has logged into the product on three separate days in at least one seven­day period, identify which factors predict future user adoption.

In [1692]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
import datetime

In [1693]:
cwd = os.getcwd()

In [1694]:
# import csvs
users = pd.read_csv(f"{cwd}/data/takehome_users.csv", encoding='latin-1')
user_engagement = pd.read_csv(f"{cwd}/data/takehome_user_engagement.csv")

In [1695]:
users.head(5)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [1696]:
# explore and clean data

# null last_session_creation_time likely means still active? or was never active after creation?
# check rows where creation_time and last_session_creation_time are same

# are non-null invited_by_user_id more likely to remain?
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  object
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   float64
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [1697]:
# use fromtimestamp() to convert unix time 'last_session_creation_time' to datetime object 
# can't convert null to int for fromtimestamp()
last_session_not_null = users['last_session_creation_time'].dropna()

#print(last_session_not_null)
users['new_last_session_creation_time'] = last_session_not_null.apply(lambda t: datetime.datetime.fromtimestamp(t))

In [1698]:
users.isna().sum()

object_id                            0
creation_time                        0
name                                 0
email                                0
creation_source                      0
last_session_creation_time        3177
opted_in_to_mailing_list             0
enabled_for_marketing_drip           0
org_id                               0
invited_by_user_id                5583
new_last_session_creation_time    3177
dtype: int64

Explore user engagement df

In [1699]:
user_engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  object
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [1700]:
user_engagement.isna().sum()

time_stamp    0
user_id       0
visited       0
dtype: int64

In [1701]:
user_engagement.head(5)

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

# Find adopted users

*Users who have logged in 3 separate DAYS in one 7 day period*

In [1702]:
user_engagement['time_stamp'] = pd.to_datetime(user_engagement['time_stamp'])

In [1703]:
user_engagement['date'] = user_engagement['time_stamp'].dt.date

In [1704]:
user_engagement['user_id'].nunique()

8823

In [1705]:
user_engagement.head(5)

           time_stamp  user_id  visited        date
0 2014-04-22 03:53:30        1        1  2014-04-22
1 2013-11-15 03:45:04        2        1  2013-11-15
2 2013-11-29 03:45:04        2        1  2013-11-29
3 2013-12-09 03:45:04        2        1  2013-12-09
4 2013-12-25 03:45:04        2        1  2013-12-25

In [1706]:
# group together user_id with 3 or more different dates

In [1707]:
# user_engagement has 8823 unique user_id, so null last_session_creation_time likely means not active user?
d = user_engagement['user_id'].value_counts()

In [1708]:
d = pd.DataFrame(d, index=None)
active_3_days = d[d['user_id'] >= 3]
active_3_days = active_3_days.rename(columns={'user_id':'visits'})
active_3_days.reset_index(inplace=True)
active_3_days.head(5)

   index  visits
0   3623     606
1    906     600
2   1811     593
3   7590     590
4   8068     585

In [1709]:
selected = user_engagement.loc[user_engagement['user_id'].isin(active_3_days['index'])]

In [1710]:
user_engagement['user_id'].nunique()

8823

In [1711]:
selected['user_id'].nunique()

2248

In [1712]:
selected['time_stamp'] = selected['time_stamp'].dt.floor('d').astype(np.int64)
selected = selected.sort_values(['user_id', 'time_stamp']).drop_duplicates()

# need at least 3 login days, so window 3
grouped = selected.groupby('user_id')['time_stamp'].rolling(window=3)
time_delta = pd.to_timedelta((grouped.max()-grouped.min())).dt.days

/var/folders/v_/wdytmqyx1377p1m8yrz0tdrr0000gn/T/ipykernel_11625/2938769241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected['time_stamp'] = selected['time_stamp'].dt.floor('d').astype(np.int64)

In [1713]:
# max - min time_stamp for each user_id, NaN if doesn't meet criteria
time_delta

user_id
2        1          NaN
         2          NaN
         3         24.0
         4         26.0
         5         22.0
                   ...
11991    207905     NaN
         207906     NaN
         207907     8.0
         207908    22.0
         207909    32.0
Name: time_stamp, Length: 201002, dtype: float64

In [1714]:
# user_id meeting grouped requirement over 7 days
adopted_user_ids = time_delta[time_delta == 7].index.get_level_values('user_id').tolist()
unique_adopted_users = time_delta[time_delta == 7].index.get_level_values('user_id').drop_duplicates().tolist()

In [1715]:
# number of unique adopted users
len(unique_adopted_users)

1358

In [1716]:
unique_adopted_users

[2,
 10,
 33,
 42,
 50,
 60,
 63,
 69,
 74,
 81,
 82,
 87,
 133,
 135,
 146,
 153,
 160,
 165,
 168,
 185,
 188,
 197,
 200,
 202,
 203,
 209,
 214,
 230,
 245,
 247,
 263,
 265,
 275,
 280,
 297,
 298,
 305,
 310,
 311,
 322,
 341,
 345,
 351,
 362,
 363,
 370,
 401,
 418,
 430,
 445,
 450,
 460,
 462,
 469,
 471,
 478,
 483,
 492,
 494,
 497,
 502,
 509,
 510,
 512,
 518,
 520,
 522,
 529,
 535,
 540,
 553,
 564,
 572,
 601,
 603,
 605,
 618,
 628,
 632,
 634,
 639,
 669,
 679,
 680,
 717,
 724,
 728,
 754,
 772,
 783,
 786,
 804,
 845,
 851,
 869,
 874,
 882,
 885,
 901,
 906,
 907,
 912,
 928,
 932,
 934,
 937,
 943,
 980,
 985,
 1009,
 1013,
 1017,
 1018,
 1027,
 1039,
 1055,
 1061,
 1072,
 1089,
 1093,
 1094,
 1099,
 1106,
 1107,
 1119,
 1128,
 1129,
 1136,
 1145,
 1150,
 1151,
 1155,
 1156,
 1163,
 1173,
 1186,
 1196,
 1202,
 1212,
 1235,
 1245,
 1250,
 1274,
 1280,
 1290,
 1318,
 1319,
 1320,
 1327,
 1339,
 1343,
 1345,
 1350,
 1357,
 1368,
 1396,
 1407,
 1410,
 1411,
 1421,
 1434,
 1464,
 1472,
 1476,
 1479,
 1480,
 1481,
 1485,
 1506,
 1507,
 1508,
 1525,
 1546,
 1555,
 1576,
 1581,
 1598,
 1617,
 1624,
 1663,
 1665,
 1666,
 1690,
 1693,
 1694,
 1709,
 1714,
 1717,
 1722,
 1740,
 1754,
 1758,
 1759,
 1769,
 1770,
 1781,
 1783,
 1786,
 1811,
 1820,
 1821,
 1822,
 1825,
 1836,
 1865,
 1872,
 1879,
 1885,
 1930,
 1941,
 1944,
 1954,
 1974,
 1999,
 2002,
 2011,
 2013,
 2025,
 2033,
 2038,
 2042,
 2043,
 2049,
 2056,
 2074,
 2078,
 2103,
 2112,
 2113,
 2129,
 2159,
 2160,
 2171,
 2176,
 2193,
 2199,
 2201,
 2239,
 2241,
 2246,
 2253,
 2270,
 2271,
 2282,
 2286,
 2289,
 2290,
 2297,
 2300,
 2312,
 2316,
 2322,
 2324,
 2333,
 2337,
 2339,
 2357,
 2371,
 2390,
 2400,
 2406,
 2425,
 2435,
 2438,
 2447,
 2474,
 2481,
 2490,
 2502,
 2519,
 2539,
 2544,
 2548,
 2557,
 2566,
 2568,
 2569,
 2570,
 2571,
 2587,
 2604,
 2610,
 2620,
 2622,
 2641,
 2645,
 2647,
 2658,
 2672,
 2681,
 2713,
 2723,
 2724,
 2727,
 2731,
 2739,
 2744,
 2762,
 2771,
 2787,
 2809,
 2832,
 2836,
 2841,
 2859,
 2870,
 2881,
 2887,
 2889,
 2891,
 2895,
 2915,
 2921,
 2931,
 2939,
 2945,
 2948,
 2952,
 2969,
 2974,
 2979,
 2993,
 3014,
 3017,
 3018,
 3025,
 3026,
 3028,
 3032,
 3036,
 3039,
 3046,
 3066,
 3067,
 3071,
 3076,
 3080,
 3087,
 3093,
 3100,
 3112,
 3113,
 3137,
 3139,
 3145,
 3160,
 3163,
 3175,
 3180,
 3185,
 3193,
 3204,
 3205,
 3207,
 3217,
 3226,
 3232,
 3235,
 3239,
 3244,
 3294,
 3311,
 3324,
 3338,
 3339,
 3353,
 3360,
 3370,
 3381,
 3387,
 3389,
 3390,
 3397,
 3405,
 3409,
 3411,
 3426,
 3428,
 3436,
 3451,
 3463,
 3481,
 3484,
 3522,
 3525,
 3531,
 3541,
 3546,
 3556,
 3560,
 3561,
 3574,
 3577,
 3578,
 3592,
 3593,
 3598,
 3601,
 3609,
 3612,
 3617,
 3623,
 3642,
 3644,
 3652,
 3671,
 3673,
 3675,
 3695,
 3705,
 3718,
 3739,
 3749,
 3752,
 3758,
 3762,
 3765,
 3772,
 3774,
 3802,
 3804,
 3812,
 3819,
 3824,
 3832,
 3843,
 3852,
 3859,
 3862,
 3863,
 3866,
 3867,
 3881,
 3882,
 3906,
 3915,
 3946,
 3956,
 3957,
 3960,
 3970,
 4007,
 4009,
 4017,
 4019,
 4022,
 4029,
 4031,
 4041,
 4043,
 4045,
 4052,
 4065,
 4067,
 4074,
 4086,
 4090,
 4105,
 4134,
 4140,
 4141,
 4143,
 4145,
 4156,
 4158,
 4181,
 4182,
 4184,
 4186,
 4203,
 4206,
 4208,
 4209,
 4216,
 4217,
 4218,
 4223,
 4234,
 4243,
 4244,
 4248,
 4268,
 4269,
 4278,
 4282,
 4295,
 4296,
 4317,
 4330,
 4335,
 4350,
 4353,
 4354,
 4371,
 4384,
 4402,
 4403,
 4404,
 4421,
 4425,
 4428,
 4433,
 4444,
 4446,
 4472,
 4481,
 4485,
 4489,
 4494,
 4497,
 4511,
 4513,
 4519,
 4558,
 4562,
 4564,
 4565,
 4569,
 4571,
 4576,
 4580,
 4582,
 4589,
 4600,
 4609,
 4611,
 4612,
 4616,
 4618,
 4619,
 4625,
 4680,
 4685,
 4709,
 4713,
 4720,
 4730,
 4742,
 4745,
 4753,
 4760,
 4778,
 4780,
 4784,
 4785,
 4793,
 4803,
 4805,
 4812,
 4826,
 4832,
 4835,
 4837,
 4839,
 4844,
 4854,
 4869,
 4876,
 4884,
 4886,
 4915,
 4921,
 4924,
 4934,
 4935,
 4943,
 4950,
 4954,
 4961,
 4965,
 4974,
 4992,
 5013,
 5015,
 5027,
 5057,
 5063,
 5067,
 5069,
 5071,
 5073,
 5100,
 5101,
 5115,
 5127,
 5151,
 5157,
 5160,
 5173,
 5180,
 5200,
 5210,
 5211,
 5240,
 5243,
 5259,
 5281,
 5297,
 5301,
 5307,
 5309,
 5329,
 5350,
 5351,
 5360,
 5362,
 5364,
 5365,
 5369,
 5378,
 5385,
 5386,
 5407,
 5415,
 5426,
 5432,
 5456,
 5463,
 5479,
 5483,
 5494,
 5507,
 5514,
 5528,
 5532,
 5547,
 5551,
 5552,
 5557,
 5560,
 5571,
 5579,
 5600,
 5609,
 5623,
 5638,
 5645,
 5655,
 5666,
 5677,
 5681,
 5682,
 5685,
 5704,
 5705,
 5714,
 5718,
 5721,
 5722,
 5723,
 5725,
 5743,
 5756,
 5806,
 5828,
 5830,
 5840,
 5847,
 5850,
 5853,
 5861,
 5866,
 5892,
 5900,
 5905,
 5915,
 5918,
 5927,
 5939,
 5944,
 5950,
 5965,
 5977,
 5993,
 6016,
 6033,
 6044,
 6050,
 6064,
 6070,
 6096,
 6100,
 6103,
 6114,
 6126,
 6134,
 6135,
 6148,
 6152,
 6171,
 6180,
 6187,
 6198,
 6204,
 6205,
 6210,
 6217,
 6232,
 6238,
 6239,
 6242,
 6246,
 6258,
 6266,
 6270,
 6279,
 6281,
 6282,
 6284,
 6293,
 6312,
 6321,
 6322,
 6349,
 6357,
 6367,
 6370,
 6388,
 6393,
 6401,
 6405,
 6416,
 6419,
 6427,
 6438,
 6462,
 6463,
 6464,
 6504,
 6506,
 6517,
 6532,
 6590,
 6597,
 6609,
 6617,
 6623,
 6627,
 6633,
 6637,
 6638,
 6640,
 6654,
 6729,
 6731,
 6733,
 6734,
 6741,
 6742,
 6751,
 6757,
 6759,
 6771,
 6782,
 6786,
 6810,
 6827,
 6832,
 6835,
 6851,
 6856,
 6862,
 6865,
 6866,
 6870,
 6893,
 6895,
 6909,
 6913,
 6914,
 6924,
 6938,
 6965,
 6966,
 6971,
 6978,
 6982,
 6988,
 6992,
 6993,
 7004,
 7015,
 7019,
 7023,
 7071,
 7074,
 7097,
 7101,
 7104,
 7107,
 7111,
 7114,
 7120,
 7131,
 7153,
 7156,
 7172,
 7173,
 7194,
 7205,
 7209,
 7210,
 7215,
 7234,
 7242,
 7248,
 7257,
 7283,
 7301,
 7323,
 7327,
 7375,
 7378,
 7380,
 7384,
 7398,
 7401,
 7405,
 7409,
 7411,
 7431,
 7436,
 7441,
 7443,
 7449,
 7450,
 7475,
 7511,
 7518,
 7529,
 7536,
 7538,
 7544,
 7555,
 7556,
 7572,
 7587,
 7590,
 7598,
 7600,
 7608,
 7618,
 7624,
 7641,
 7644,
 7654,
 7655,
 7670,
 7678,
 7682,
 7683,
 7688,
 7691,
 7696,
 7697,
 7705,
 7707,
 7720,
 7760,
 7772,
 7774,
 7789,
 7792,
 7798,
 7805,
 7813,
 7818,
 7820,
 7827,
 7839,
 7848,
 7858,
 7859,
 7868,
 7873,
 7878,
 7882,
 7897,
 7899,
 7905,
 7926,
 7939,
 7951,
 7970,
 7971,
 7979,
 7980,
 7991,
 7999,
 8010,
 8022,
 8025,
 8029,
 8031,
 8033,
 8034,
 8037,
 8046,
 8048,
 8063,
 8068,
 8069,
 8070,
 8071,
 8075,
 8091,
 8101,
 8104,
 8123,
 8130,
 8137,
 8159,
 8166,
 8169,
 8192,
 8196,
 8214,
 8217,
 8220,
 8221,
 8232,
 8233,
 8235,
 8243,
 8252,
 8259,
 8270,
 8280,
 8294,
 8297,
 8310,
 8319,
 8334,
 8348,
 8366,
 8381,
 8399,
 8401,
 8403,
 8408,
 8415,
 8426,
 8435,
 8440,
 8463,
 8466,
 8493,
 8505,
 8507,
 8508,
 8511,
 8523,
 8538,
 8553,
 8569,
 8571,
 8581,
 8601,
 8602,
 8615,
 8622,
 8639,
 8640,
 8654,
 8673,
 8675,
 8679,
 8689,
 8695,
 8701,
 8706,
 8708,
 8721,
 8725,
 8740,
 8749,
 8760,
 8767,
 8768,
 8770,
 8779,
 8789,
 8790,
 8803,
 8806,
 8811,
 8832,
 8835,
 8837,
 8856,
 8857,
 8862,
 8864,
 8869,
 8880,
 8899,
 8912,
 8918,
 8924,
 8932,
 ...]

1358 are adopted users of the 2248 that had >= 3 visits on at least 3 days and 8823 with non-null 'last_session_created_time'

# Identify factors that predict future user adoption

Feature engineering

In [1717]:
users.head(5)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,new_last_session_creation_time
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,2014-04-21 23:53:30
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-03-30 23:45:04
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,2013-03-19 19:14:52
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,2013-05-22 04:09:28
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,2013-01-22 05:14:20

In [1718]:
len(users)

12000

In [1719]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   object_id                       12000 non-null  int64
 1   creation_time                   12000 non-null  object
 2   name                            12000 non-null  object
 3   email                           12000 non-null  object
 4   creation_source                 12000 non-null  object
 5   last_session_creation_time      8823 non-null   float64
 6   opted_in_to_mailing_list        12000 non-null  int64
 7   enabled_for_marketing_drip      12000 non-null  int64
 8   org_id                          12000 non-null  int64
 9   invited_by_user_id              6417 non-null   float64
 10  new_last_session_creation_time  8823 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(4)
memory usage: 1.0+ MB

In [1720]:
# 'object_id' in users is 'user_id' in user_engagement
#users.rename(columns={'object_id':'user_id'}, inplace=True)

In [1721]:
users['creation_time'] = pd.to_datetime(users['creation_time'])
# users['invited_by_user_id'].astype(np.int64, errors='ignore')

In [1722]:
# account creation to last login time
users['creation_delta'] = users['new_last_session_creation_time'] - users['creation_time']

In [1723]:
adopted_users = pd.DataFrame(adopted_user_ids, columns=['user_id'])

In [1724]:
adopted_users['adopted_user'] = 1
adopted_users

      user_id  adopted_user
0           2             1
1          10             1
2          10             1
3          10             1
4          10             1
...       ...           ...
6672    11975             1
6673    11975             1
6674    11975             1
6675    11975             1
6676    11988             1

[6677 rows x 2 columns]

In [1725]:
all_users = pd.merge(users, adopted_users, how='outer',
                  left_on='object_id', right_on='user_id')

In [1726]:
all_users = pd.get_dummies(all_users, columns=['creation_source'])

In [1727]:
all_users.head(5)

,object_id,creation_time,name,email,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,new_last_session_creation_time,creation_delta,user_id,adopted_user,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,1.398139e+09,1,0,11,10803.0,2014-04-21 23:53:30,-1 days +20:00:00,NaN,NaN,1,0,0,0,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,1.396238e+09,0,0,1,316.0,2014-03-30 23:45:04,135 days 20:00:00,2.0,1.0,0,1,0,0,0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,1.363735e+09,0,0,94,1525.0,2013-03-19 19:14:52,-1 days +20:00:00,NaN,NaN,0,1,0,0,0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,1.369210e+09,0,0,1,5151.0,2013-05-22 04:09:28,0 days 20:00:00,NaN,NaN,1,0,0,0,0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,1.358850e+09,0,0,193,5240.0,2013-01-22 05:14:20,4 days 19:00:00,NaN,NaN,1,0,0,0,0

In [1728]:
all_users['adopted_user'] = all_users['adopted_user'].fillna(0)

In [1729]:
all_users.isna().sum()

object_id                                 0
creation_time                             0
name                                      0
email                                     0
last_session_creation_time             3177
opted_in_to_mailing_list                  0
enabled_for_marketing_drip                0
org_id                                    0
invited_by_user_id                     7890
new_last_session_creation_time         3177
creation_delta                         3177
user_id                               10642
adopted_user                              0
creation_source_GUEST_INVITE              0
creation_source_ORG_INVITE                0
creation_source_PERSONAL_PROJECTS         0
creation_source_SIGNUP                    0
creation_source_SIGNUP_GOOGLE_AUTH        0
dtype: int64

In [1730]:
# to look at only adopted users, 'object_id' = 'user_id'
adopted_users_df = all_users.loc[all_users['object_id'].isin(adopted_user_ids)]

In [1731]:
adopted_users_df.head(5)

,object_id,creation_time,name,email,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,new_last_session_creation_time,creation_delta,user_id,adopted_user,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,1.396238e+09,0,0,1,316.0,2014-03-30 23:45:04,135 days 20:00:00,2.0,1.0,0,1,0,0,0
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,1.401833e+09,1,1,318,4143.0,2014-06-03 18:08:03,502 days 20:00:00,10.0,1.0,0,1,0,0,0
10,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,1.401833e+09,1,1,318,4143.0,2014-06-03 18:08:03,502 days 20:00:00,10.0,1.0,0,1,0,0,0
11,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,1.401833e+09,1,1,318,4143.0,2014-06-03 18:08:03,502 days 20:00:00,10.0,1.0,0,1,0,0,0
12,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,1.401833e+09,1,1,318,4143.0,2014-06-03 18:08:03,502 days 20:00:00,10.0,1.0,0,1,0,0,0

In [1732]:
len(adopted_users_df)

6677

In [1733]:
adopted_users_df.isna().sum()

object_id                                0
creation_time                            0
name                                     0
email                                    0
last_session_creation_time               0
opted_in_to_mailing_list                 0
enabled_for_marketing_drip               0
org_id                                   0
invited_by_user_id                    2890
new_last_session_creation_time           0
creation_delta                           0
user_id                                  0
adopted_user                             0
creation_source_GUEST_INVITE             0
creation_source_ORG_INVITE               0
creation_source_PERSONAL_PROJECTS        0
creation_source_SIGNUP                   0
creation_source_SIGNUP_GOOGLE_AUTH       0
dtype: int64

In [ ]:
# were they invited by a user? -- creation_source -- is that user id also very active user id or kept user id

In [ ]:
# model feature importance