In [11]:
import sqlite3
from sqlite3 import Error

In [12]:
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn

In [23]:
def select_all_tasks(conn):
    cur = conn.cursor()
    query1 = """
    SELECT strftime('%m', b.starttime) as "Month", f.name, COUNT(b.memid) AS monthly_bookings
    FROM Bookings b, Facilities f
    WHERE b.facid = f.facid
    AND b.memid != 0
    GROUP BY month, f.name;
        """
    #replace query1 to use notebook
    cur.execute(query1)
    rows = cur.fetchall()
    for row in rows:
        print(row)

In [24]:
def main():
    database = "sqlite_db_pythonsqlite.db"
    # creating db connection
    conn = create_connection(database)
    with conn:
        print("2. Query all tasks")
        select_all_tasks(conn)

if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('07', 'Badminton Court', 51)
('07', 'Massage Room 1', 77)
('07', 'Massage Room 2', 4)
('07', 'Pool Table', 103)
('07', 'Snooker Table', 68)
('07', 'Squash Court', 23)
('07', 'Table Tennis', 48)
('07', 'Tennis Court 1', 65)
('07', 'Tennis Court 2', 41)
('08', 'Badminton Court', 132)
('08', 'Massage Room 1', 153)
('08', 'Massage Room 2', 9)
('08', 'Pool Table', 272)
('08', 'Snooker Table', 154)
('08', 'Squash Court', 85)
('08', 'Table Tennis', 143)
('08', 'Tennis Court 1', 111)
('08', 'Tennis Court 2', 109)
('09', 'Badminton Court', 161)
('09', 'Massage Room 1', 191)
('09', 'Massage Room 2', 14)
('09', 'Pool Table', 408)
('09', 'Snooker Table', 199)
('09', 'Squash Court', 87)
('09', 'Table Tennis', 194)
('09', 'Tennis Court 1', 132)
('09', 'Tennis Court 2', 126)